<!-- <footer>
	Page Footer
</footer> -->

<!-- Footer -->
<footer class="page-footer font-small unique-color-light bg-warning pt-5 pb-5 mt-5">

	<!-- Footer Elements -->
	<div class="container pt-5">
  
	  <!-- Call to action -->
	  <ul class="list-unstyled list-inline text-center py-2">
		<li class="list-inline-item">
		  <h5 class="mb-1 text-light">Register for free</h5>
		</li>
		<li class="list-inline-item">
		  <a href="/users/sign-up" class="btn btn-outline-white btn-rounded text-light">Sign up!</a>
		</li>
	  </ul>
	  <!-- Call to action -->
  
	</div>
	<!-- Footer Elements -->
  
	<!-- Copyright -->
	<div class="footer-copyright text-center text-light pt-3 pb-5">© 2021 Copyright:
	  <a href="https://mdbootstrap.com/" class="text-light" >Social-Space</a>
	</div>
	<!-- Copyright -->
  
  </footer>
  <!-- Footer -->