
<link rel="stylesheet" href="/css/home.css">
<script src="/js/home.js"></script>
	
<section id="feed-posts">
	<h3>Posts</h3>
	<form action="#" id="new-post-form" method="POST">
		<textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
		<input type="submit" value="Post">
	</form>
	
</section>

	