footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: darkblue;
  color: white;
  font-size: 18px;
  width: 100%;
  position: static;
  bottom: 0; }
